<div class="ui-g">

  <app-campos-busca titulo="Investigado" [nProcesso]="nProcesso" [campos]="campos"
    style="width: 100%; width: -webkit-fill-available; width: -moz-available;" [(buscaFinalizada)]="buscaFinalizada"
    (pesquisa)="onPesquisa($event)" (pesquisa)="onPesquisaOrcrim($event)">

    <div class="ui-g-12">
      <div class="p-card p-0 b-0 mb-0">
        <p-panel header="Informações" [toggleable]="true">
          <ul class="mt-0">
            <li class="pt-2">As informações veiculadas quanto eventual participação do alvo pesquisado em uma ORCRIM,
              não devem ser colacionadas em procedimentos, uma vez que trata-se de informações de inteligência, logo são
              reservadas.</li>
            <li class="pt-2" *ngIf="orcrimsEncontrados || !buscaFinalizada">Exemplo de nomes de Facções: COMANDO
              VERMELHO, PCC, SINDICATO DO CRIME RN, FAMÍLIA DO NORTE, NOVA OKAIDA, EUA, OKAIDA RB, OKAIDA.</li>
          </ul>
        </p-panel>
      </div>
    </div>

  </app-campos-busca>

  <div class="ui-g-12" *ngIf="buscaFinalizada">

    <div class="p-card p-0 b-0 mb-0">

      <p-tabView styleClass="p-0" [controlClose]="true">

        <p-tabPanel styleClass="p-0" header="Operações Gaeco" [closable]="true"
          *ngIf="investigadosPF || investigadosPJ">

          <pandora-table caption="Dados Pessoa Fisica" exportFilename="investigados_pessoa_fisica"
            [mostraFiltroColunas]="true" [value]="investigadosPF" [dicionarioDados]="dicionarioDadosPF">

            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" [ngSwitch]="col.field">
                  <span class="ui-column-title">{{col.header}}</span>

                  <span *ngSwitchCase="'dataOperacao'">{{utils.formataData(rowData.dataOperacao)}}</span>
                  <span *ngSwitchCase="'dataNascimento'">{{utils.formataData(rowData.dataNascimento)}}</span>
                  <span *ngSwitchCase="'cpf'">
                    <a [routerLink]="['/dashboard/pesquisa/integrado/pessoa']"
                      [queryParams]='{cpf: utils.codificaDado(rowData.cpf)}'
                      class="text-primary">{{utils.formataDado(rowData.cpf, '###.###.###-##')}}</a>
                  </span>
                  <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                </td>
              </tr>
            </ng-template>

          </pandora-table>

          <pandora-table caption="Dados Pessoa Juridica" exportFilename="investigados_pessoa_juridica"
            [mostraFiltroColunas]="true" [value]="investigadosPJ" [dicionarioDados]="dicionarioDadosPJ">

            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" [ngSwitch]="col.field">
                  <span class="ui-column-title">{{col.header}}</span>

                  <span *ngSwitchCase="'dataOperacao'">{{utils.formataData(rowData.dataOperacao)}}</span>
                  <span *ngSwitchCase="'dataInicioAtividade'">{{utils.formataData(rowData.dataInicioAtividade)}}</span>
                  <span *ngSwitchCase="'cnpj'">
                    <a [routerLink]="['/dashboard/pesquisa/integrado/empresa']"
                      [queryParams]='{cnpj: utils.codificaDado(rowData.cnpj)}'
                      style="color: #3984b8;">{{utils.formataDado(rowData.cnpj, '##.###.###/####-##')}}</a>
                  </span>
                  <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                </td>
              </tr>
            </ng-template>

          </pandora-table>

        </p-tabPanel>

        <p-tabPanel styleClass="p-0" header="Prontuário" [closable]="true" *ngIf="prontuariosEncontrados">
          <p-table #dt_exportacao [columns]="colunasTabelaProntuario" [value]="prontuariosEncontrados"
            exportFilename="prontuarios">
          </p-table>
          <p-dataView #data [value]="prontuariosEncontrados" [paginator]="true" [rows]="1"
            [rowsPerPageOptions]="[1, 5, 10]" emptyMessage="{{msgRegistroNaoEncontrado}}">
            <p-footer>{{utils.getFooterResultado(data.totalRecords)}}</p-footer>
            <p-header>
              <p-header>
                <div class="p-card-subtitulo my-2 text-left d-flex">
                  <div class="text-center">
                    Registro do Prontuário
                  </div>

                  <div class="export-button pointer text-primary ml-auto" (click)="dt_exportacao.exportCSV()">
                    <span>CSV</span>
                    <i class="pi pi-download"></i>
                  </div>

                  <div class="export-button pointer text-primary ml-2" (click)="exportPdf()">
                    <span>PDF</span>
                    <i class="pi pi-download"></i>
                  </div>

                  <div class="export-button pointer text-primary ml-2" (click)="exportExcel()">
                    <span>Excel</span>
                    <i class="pi pi-download"></i>
                  </div>
                </div>
              </p-header>
            </p-header>

            <ng-template let-prontuario pTemplate="listItem">
              <div class="ui-g-12">

                <!-- Informações de pessoa -->
                <div class="ui-g-12 ui-sm-12">

                  <div class="ui-g-12">
                    <div *ngFor="let foto of prontuario.imagens; let first = first;">
                      <!-- Foto -->
                      <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!first">
                        <div class="ui-g-4 pandora-atributo"></div>
                        <div class="ui-g-8">
                          <a [href]="sanitize(foto.imagem)" download>
                            <img [src]="sanitize(foto.imagem)" pTooltip="Clique para baixar a imagem"
                            class="avatar" >
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Nome -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.nome">
                    <div class="ui-g-4 pandora-atributo">Nome:</div>
                    <div class="ui-g-8">{{prontuario.nome}}</div>
                  </div>

                  <!-- Idade -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.idade">
                    <div class="ui-g-4 pandora-atributo">Idade:</div>
                    <div class="ui-g-8">{{prontuario.idade}}</div>
                  </div>

                  <!-- RG -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview"
                    *ngIf="!!prontuario.rg && !!prontuario.orgao">
                    <div class="ui-g-4 pandora-atributo">RG:</div>
                    <div class="ui-g-8">{{prontuario.rg}} {{prontuario.orgao}}</div>
                  </div>

                  <!-- CPF -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.cpf">
                    <div class="ui-g-4 pandora-atributo">CPF:</div>
                    <div class="ui-g-8">
                      <a
                        target='_blank'
                        [routerLink]="['/dashboard/pesquisa/integrado/pessoa']"
                        [queryParams]='{cpf: utils.codificaDado(prontuario.cpf)}'
                        style="color: #3984b8;">{{utils.formataDado(prontuario.cpf, '###.###.###-##')}}
                      </a>
                    </div>
                  </div>

                  <!-- Data de Nascimento -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.data">
                    <div class="ui-g-4 pandora-atributo">Data de Nascimento:</div>
                    <div class="ui-g-8">{{utils.formataData(prontuario.data)}}</div>
                  </div>

                  <!-- Pai -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.pai">
                    <div class="ui-g-4 pandora-atributo">Pai:</div>
                    <div class="ui-g-8">{{prontuario.pai}}</div>
                  </div>

                  <!-- Mãe -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.mae">
                    <div class="ui-g-4 pandora-atributo">Mãe:</div>
                    <div class="ui-g-8">{{prontuario.mae}}</div>
                  </div>

                  <!-- Vulgo -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.vulgo">
                    <div class="ui-g-4 pandora-atributo">Vulgo:</div>
                    <div class="ui-g-8">{{prontuario.vulgo}}</div>
                  </div>

                  <!-- Comparsas -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.comparsas">
                    <div class="ui-g-4 pandora-atributo">Comparsas:</div>
                    <div class="ui-g-8">{{prontuario.comparsas}}</div>
                  </div>

                  <!-- Facção -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.faccao">
                    <div class="ui-g-4 pandora-atributo">Facção:</div>
                    <div class="ui-g-8">{{prontuario.faccao}}</div>
                  </div>

                  <!-- Principal atividade criminosa -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.atividade">
                    <div class="ui-g-4 pandora-atributo">Principal atividade criminosa:</div>
                    <div class="ui-g-8">{{prontuario.atividade}}</div>
                  </div>

                  <!-- Informações Adicionais -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.info">
                    <div class="ui-g-4 pandora-atributo">Informações:</div>
                    <div class="ui-g-8">
                      <textarea style="width: 100%; background: transparent; border: 0 none;" pInputTextarea
                        autoResize="autoResize" readonly="readonly">{{prontuario.info}}</textarea>
                    </div>
                  </div>

                  <!-- Cabelo -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.cabelo">
                    <div class="ui-g-4 pandora-atributo">Cabelo:</div>
                    <div class="ui-g-8">{{prontuario.cabelo}}</div>
                  </div>

                  <!-- Olhos -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.olhos">
                    <div class="ui-g-4 pandora-atributo">Olhos:</div>
                    <div class="ui-g-8">{{prontuario.olhos}}</div>
                  </div>

                  <!-- Cutis -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.cutis">
                    <div class="ui-g-4 pandora-atributo">Cutis:</div>
                    <div class="ui-g-8">{{prontuario.cutis}}</div>
                  </div>

                  <!-- Barba -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.barba">
                    <div class="ui-g-4 pandora-atributo">Barba:</div>
                    <div class="ui-g-8">{{prontuario.barba}}</div>
                  </div>

                  <!-- Cicatriz -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.cicatriz">
                    <div class="ui-g-4 pandora-atributo">Cicatriz:</div>
                    <div class="ui-g-8">{{prontuario.cicatriz}}</div>
                  </div>

                  <!-- Tatuagem -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.tatuagem">
                    <div class="ui-g-4 pandora-atributo">Tatuagem:</div>
                    <div class="ui-g-8">{{prontuario.tatuagem}}</div>
                  </div>

                  <!-- Naturalidade -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.naturalidade">
                    <div class="ui-g-4 pandora-atributo">Naturalidade:</div>
                    <div class="ui-g-8">{{prontuario.naturalidade}}</div>
                  </div>

                  <!-- Sexo -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.sexo">
                    <div class="ui-g-4 pandora-atributo">Sexo:</div>
                    <div class="ui-g-8">{{prontuario.sexo}}</div>
                  </div>

                  <!-- Conjugue -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.conjugue">
                    <div class="ui-g-4 pandora-atributo">Conjugue:</div>
                    <div class="ui-g-8">{{prontuario.conjugue}}</div>
                  </div>

                  <!-- Profissão -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.profissao">
                    <div class="ui-g-4 pandora-atributo">Profissão:</div>
                    <div class="ui-g-8">{{prontuario.profissao}}</div>
                  </div>

                  <!-- Endereço -->
                  <div class="ui-g-12 ui-sm-12" *ngFor="let endereco of prontuario.enderecos; let i = index">

                    <p-fieldset legend="Endereço" [toggleable]="true" [collapsed]="true">
                      <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!endereco.logradouro">
                        <div class="ui-g-4 pandora-atributo">Logadouro:</div>
                        <div class="ui-g-8">{{endereco.logradouro}}</div>
                      </div>
                      <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!endereco.numero">
                        <div class="ui-g-4 pandora-atributo">Numero:</div>
                        <div class="ui-g-8">{{endereco.numero}}</div>
                      </div>
                      <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!endereco.complemento">
                        <div class="ui-g-4 pandora-atributo">Complemento:</div>
                        <div class="ui-g-8">{{endereco.complemento}}</div>
                      </div>
                      <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!endereco.bairro">
                        <div class="ui-g-4 pandora-atributo">Bairro:</div>
                        <div class="ui-g-8">{{endereco.bairro}}</div>
                      </div>
                      <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!endereco.cidade">
                        <div class="ui-g-4 pandora-atributo">Cidade:</div>
                        <div class="ui-g-8">{{endereco.cidade}}</div>
                      </div>
                      <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!endereco.estado">
                        <div class="ui-g-4 pandora-atributo">Estado:</div>
                        <div class="ui-g-8">{{endereco.estado}}</div>
                      </div>
                    </p-fieldset>

                  </div>

                  <!-- Falecido -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.falecido">
                    <div class="ui-g-4 pandora-atributo">Falecido:</div>
                    <div class="ui-g-8">{{prontuario.falecido}}</div>
                  </div>

                  <!-- Imagem -->
                  <div class="ui-g-12 ui-sm-12" *ngFor="let foto of prontuario.imagens; let i = index">
                    <p-fieldset legend="Foto" [toggleable]="true" [collapsed]="true">
                      <!-- Foto -->
                      <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!foto.imagem">
                        <div class="ui-g-8">
                          <a [href]="sanitize(foto.imagem)" download>
                            <img [src]="sanitize(foto.imagem)" pTooltip="Clique para baixar a imagem"
                              style="width: 1000px;">
                          </a>
                        </div>
                      </div>
                    </p-fieldset>
                  </div>

                  <!-- Ultima atualização -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!prontuario.updated_at">
                    <div class="ui-g-4 pandora-atributo">Ultima atualização:</div>
                    <div class="ui-g-8">{{utils.formataData(prontuario.updated_at)}}</div>
                  </div>

                </div>

              </div>
            </ng-template>
          </p-dataView>
        </p-tabPanel>

        <p-tabPanel styleClass="p-0" header="Ocorrências" [closable]="true" *ngIf="!!saspPessoa">
          <p-dataView #pessoa [value]="saspPessoa" [paginator]="true" [rows]="1" [rowsPerPageOptions]="[1, 5, 10]"
            emptyMessage="{{msgRegistroNaoEncontrado}}" *ngIf="!!saspPessoa">
            <p-footer>{{utils.getFooterResultado(pessoa.totalRecords)}}</p-footer>

            <p-header>
              <p-header>
                <div class="p-card-subtitulo my-2 text-left d-flex">
                  <div class="text-center">
                    Dados Pessoais
                  </div>
                </div>
              </p-header>
            </p-header>

            <ng-template let-pessoa pTemplate="listItem">
              <div class="ui-g-12">

                <!-- Informações de pessoa -->
                <div class="ui-g-12 ui-sm-12">

                  <!-- Nome -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!pessoa.nome">
                    <div class="ui-g-4 pandora-atributo">Nome:</div>
                    <div class="ui-g-8">{{pessoa.nome}}</div>
                  </div>

                  <!-- Alcunha -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!pessoa.alcunha">
                    <div class="ui-g-4 pandora-atributo">Alcunha:</div>
                    <div class="ui-g-8">{{pessoa.alcunha}}</div>
                  </div>

                  <!-- Documento -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview"
                    *ngIf="!!pessoa.tipo_documento && !!pessoa.documento">
                    <div class="ui-g-4 pandora-atributo">{{utils.formataDocumentoPM(pessoa.tipo_documento)}}:</div>
                    <div class="ui-g-8">{{pessoa.documento}}</div>
                  </div>

                  <!-- Mãe -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!pessoa.mae">
                    <div class="ui-g-4 pandora-atributo">Mãe:</div>
                    <div class="ui-g-8">{{pessoa.mae}}</div>
                  </div>

                  <!-- Pai -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!pessoa.pai">
                    <div class="ui-g-4 pandora-atributo">Pai:</div>
                    <div class="ui-g-8">{{pessoa.pai}}</div>
                  </div>

                  <!-- Nascimento -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!pessoa.data_nascimento">
                    <div class="ui-g-4 pandora-atributo">Data de Nascimento:</div>
                    <div class="ui-g-8">{{utils.formataData(pessoa.data_nascimento)}}</div>
                  </div>

                  <!-- Inconsistencia -->
                  <div class="ui-g-12 ui-sm-12" *ngIf="!!pessoa.descricao_inconsistencias">
                    <p-fieldset legend="Inconsistencias de Pessoas" [toggleable]="true" [collapsed]="true">

                      <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!pessoa.descricao_inconsistencias">
                        <div class="ui-g-4 pandora-atributo">Descrição da Inconsistencias:</div>
                        <div class="ui-g-8">{{pessoa.descricao_inconsistencias}}</div>
                      </div>

                      <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!pessoa.colaborador_inconsistencias">
                        <div class="ui-g-4 pandora-atributo">Colaborador da Inconsistencias:</div>
                        <div class="ui-g-8">{{pessoa.colaborador_inconsistencias}}</div>
                      </div>
                    </p-fieldset>
                  </div>

                  <!-- Rotulação -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!pessoa.rotulacao">
                    <div class="ui-g-4 pandora-atributo">Rotulação:</div>
                    <div class="ui-g-8">{{pessoa.rotulacao}}</div>
                  </div>

                  <!-- tatuagem -->
                  <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!pessoa.tatuagem">
                    <div class="ui-g-4 pandora-atributo">Tatuagem:</div>
                    <div class="ui-g-8">{{pessoa.tatuagem}}</div>
                  </div>

                </div>

              </div>
            </ng-template>
          </p-dataView>

          <div class="ui-g-12"></div>

          <p-dataView #vinculo [value]="saspVinculo" [paginator]="true" [rows]="1" [rowsPerPageOptions]="[1, 5, 10]"
            emptyMessage="{{msgRegistroNaoEncontrado}}" *ngIf="!!saspVinculo">
            <p-footer>{{utils.getFooterResultado(vinculo.totalRecords)}}</p-footer>

            <p-header>
              <p-header>
                <div class="p-card-subtitulo my-2 text-left d-flex">
                  <div class="text-center">
                    Vinculos
                  </div>
                </div>
              </p-header>
            </p-header>

            <ng-template let-vinculo pTemplate="listItem">
              <div class="ui-g-12">

                <!-- Informações de pessoa -->
                <div class="ui-g-12 ui-sm-12">

                  <!-- Vinculo -->
                    <div class="ui-g-12 py-0 pandora-linha-dataview"
                      *ngIf="!!vinculo.tipo_vinculos && !!vinculo.descricao_vinculos">
                      <div class="ui-g-4 pandora-atributo">{{utils.formataVinculoPM(vinculo.tipo_vinculos)}}:</div>
                      <div class="ui-g-8">{{vinculo.descricao_vinculos}}</div>
                    </div>

                    <!-- Nome -->
                    <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!vinculo.nome2">
                      <div class="ui-g-4 pandora-atributo">Nome:</div>
                      <div class="ui-g-8">{{vinculo.nome2}}</div>
                    </div>

                    <!-- Alcunha -->
                    <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!vinculo.alcunha2">
                      <div class="ui-g-4 pandora-atributo">Alcunha:</div>
                      <div class="ui-g-8">{{vinculo.alcunha2}}</div>
                    </div>

                    <!-- Documento -->
                    <div class="ui-g-12 py-0 pandora-linha-dataview"
                      *ngIf="!!vinculo.tipo_documento2 && !!vinculo.documento2">
                      <div class="ui-g-4 pandora-atributo">{{utils.formataDocumentoPM(vinculo.tipo_documento2)}}:
                      </div>
                      <div class="ui-g-8">{{vinculo.documento2}}</div>
                    </div>

                    <!-- Mãe -->
                    <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!vinculo.mae2">
                      <div class="ui-g-4 pandora-atributo">Mãe:</div>
                      <div class="ui-g-8">{{vinculo.mae2}}</div>
                    </div>

                    <!-- Pai -->
                    <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!vinculo.pai2">
                      <div class="ui-g-4 pandora-atributo">Pai:</div>
                      <div class="ui-g-8">{{vinculo.pai2}}</div>
                    </div>

                    <!-- Nascimento -->
                    <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!vinculo.data_nascimento2">
                      <div class="ui-g-4 pandora-atributo">Data de Nascimento:</div>
                      <div class="ui-g-8">{{utils.formataData(vinculo.data_nascimento2)}}</div>
                    </div>
                </div>
              </div>
            </ng-template>
          </p-dataView>

          <div class="ui-g-12"></div>

          <p-dataView #fatos [value]="saspFatos" [paginator]="true" [rows]="1" [rowsPerPageOptions]="[1, 5, 10]"
            emptyMessage="{{msgRegistroNaoEncontrado}}" *ngIf="!!saspFatos">
            <p-footer>{{utils.getFooterResultado(fatos.totalRecords)}}</p-footer>

            <p-header>
              <p-header>
                <div class="p-card-subtitulo my-2 text-left d-flex">
                  <div class="text-center">
                    Fatos Ocorrencia
                  </div>
                </div>
              </p-header>
            </p-header>

            <ng-template let-fato pTemplate="listItem">
              <div class="ui-g-12">
              <!-- Informações de pessoa -->
              <div class="ui-g-12 ui-sm-12">

                <!-- Fato -->
                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.relato_fato">
                  <div class="ui-g-4 pandora-atributo">Relato do Fato:</div>
                  <div class="ui-g-8">{{fato.relato_fato}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.descricao_fato_crime">
                  <div class="ui-g-4 pandora-atributo">Descrição Crime:</div>
                  <div class="ui-g-8">{{fato.descricao_fato_crime}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.municipio_fato_crime">
                  <div class="ui-g-4 pandora-atributo">Municipio Crime:</div>
                  <div class="ui-g-8">{{fato.municipio_fato_crime}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.uf_fato_crime">
                  <div class="ui-g-4 pandora-atributo">Estado Crime:</div>
                  <div class="ui-g-8">{{fato.uf_fato_crime}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.endereco_fato_endereco">
                  <div class="ui-g-4 pandora-atributo">Endereço do Fato:</div>
                  <div class="ui-g-8">{{fato.endereco_fato_endereco}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.municipio_fato_endereco">
                  <div class="ui-g-4 pandora-atributo">Municipio Fato:</div>
                  <div class="ui-g-8">{{fato.municipio_fato_endereco}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.uf_fato_endereco">
                  <div class="ui-g-4 pandora-atributo">Estado Fato:</div>
                  <div class="ui-g-8">{{fato.uf_fato_endereco}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.descricao_inconsistencia_fato">
                  <div class="ui-g-4 pandora-atributo">Descrição Inconsistencia:</div>
                  <div class="ui-g-8">{{fato.descricao_inconsistencia_fato}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.colaborador_inconsistencia_fato">
                  <div class="ui-g-4 pandora-atributo">Colaborador Inconsistencia:</div>
                  <div class="ui-g-8">{{fato.colaborador_inconsistencia_fato}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.data_ocorrencia">
                  <div class="ui-g-4 pandora-atributo">Data da Ocorrencia:</div>
                  <div class="ui-g-8">{{utils.formataData(fato.data_ocorrencia)}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.natureza_ocorrencia">
                  <div class="ui-g-4 pandora-atributo">Natureza da Ocorrencia:</div>
                  <div class="ui-g-8">{{fato.natureza_ocorrencia}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.tipo_arma">
                  <div class="ui-g-4 pandora-atributo">Arma:</div>
                  <div class="ui-g-8">{{fato.tipo_arma}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.quantidade_arma">
                  <div class="ui-g-4 pandora-atributo">Quantidade de Armas:</div>
                  <div class="ui-g-8">{{fato.quantidade_arma}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.tipo_dinheiro">
                  <div class="ui-g-4 pandora-atributo">Dinheiro:</div>
                  <div class="ui-g-8">{{fato.tipo_dinheiro}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.quantidade_dinheiro">
                  <div class="ui-g-4 pandora-atributo">Quantidade de Dinheiro:</div>
                  <div class="ui-g-8">{{fato.quantidade_dinheiro}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.tipo_entorpecente">
                  <div class="ui-g-4 pandora-atributo">Entorpecente:</div>
                  <div class="ui-g-8">{{fato.tipo_entorpecente}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.quantidade_entorpecente">
                  <div class="ui-g-4 pandora-atributo">Quantidade de Entorpecentes:</div>
                  <div class="ui-g-8">{{fato.quantidade_entorpecente}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.tipo_municoes">
                  <div class="ui-g-4 pandora-atributo">Munição:</div>
                  <div class="ui-g-8">{{fato.tipo_municoes}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.quantidade_municoes">
                  <div class="ui-g-4 pandora-atributo">Quantidade de Munição:</div>
                  <div class="ui-g-8">{{fato.quantidade_municoes}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.quantidade_flagrantes">
                  <div class="ui-g-4 pandora-atributo">Quantidade de Flagrantes:</div>
                  <div class="ui-g-8">{{fato.quantidade_flagrantes}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.quantidade_pessoas_apreendidas">
                  <div class="ui-g-4 pandora-atributo">Quantidade Pessoas Apreendidas:</div>
                  <div class="ui-g-8">{{fato.quantidade_pessoas_apreendidas}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.quantidade_pessoas_mandado">
                  <div class="ui-g-4 pandora-atributo">Quantidade Pessoas Mandados de Prisão:</div>
                  <div class="ui-g-8">{{fato.quantidade_pessoas_mandado}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.tipo_veiculos_fato">
                  <div class="ui-g-4 pandora-atributo">Veiculo Fato:</div>
                  <div class="ui-g-8">{{fato.tipo_veiculos_fato}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.quantidade_veiculos_fato">
                  <div class="ui-g-4 pandora-atributo">Quantidade de Veiculos:</div>
                  <div class="ui-g-8">{{fato.quantidade_veiculos_fato}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!fato.referencia">
                  <div class="ui-g-4 pandora-atributo">Referencia:</div>
                  <div class="ui-g-8">{{fato.referencia}}</div>
                </div>
              </div>
              </div>
            </ng-template>
          </p-dataView>

          <div class="ui-g-12"></div>

          <p-dataView #abordagem [value]="saspAbordagem" [paginator]="true" [rows]="1" [rowsPerPageOptions]="[1, 5, 10]"
            emptyMessage="{{msgRegistroNaoEncontrado}}" *ngIf="!!saspAbordagem">
            <p-footer>{{utils.getFooterResultado(abordagem.totalRecords)}}</p-footer>

            <p-header>
              <p-header>
                <div class="p-card-subtitulo my-2 text-left d-flex">
                  <div class="text-center">
                    Abordagem
                  </div>
                </div>
              </p-header>
            </p-header>

            <ng-template let-abordagem pTemplate="listItem">
              <div class="ui-g-12">
              <!-- Informações de pessoa -->
              <div class="ui-g-12 ui-sm-12">
                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!abordagem.colaborador_inc_abordagem">
                  <div class="ui-g-4 pandora-atributo">Colaborador Inconsistencia:</div>
                  <div class="ui-g-8">{{abordagem.colaborador_inc_abordagem}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!abordagem.descricao_inc_abordagem">
                  <div class="ui-g-4 pandora-atributo">Descrição Inconsistencia:</div>
                  <div class="ui-g-8">{{abordagem.descricao_inc_abordagem}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!abordagem.abordagem_militar_und">
                  <div class="ui-g-4 pandora-atributo">Unidade Militar:</div>
                  <div class="ui-g-8">{{abordagem.abordagem_militar_und}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!abordagem.abordagem_militar_matricula">
                  <div class="ui-g-4 pandora-atributo">Matricula Militar:</div>
                  <div class="ui-g-8">{{abordagem.abordagem_militar_matricula}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!abordagem.relato_apt1_ab">
                  <div class="ui-g-4 pandora-atributo">Relato 1:</div>
                  <div class="ui-g-8">{{abordagem.relato_apt1_ab}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!abordagem.relato_apt2_ab">
                  <div class="ui-g-4 pandora-atributo">Relato 2:</div>
                  <div class="ui-g-8">{{abordagem.relato_apt2_ab}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!abordagem.relato_apt3_ab">
                  <div class="ui-g-4 pandora-atributo">Relato 3:</div>
                  <div class="ui-g-8">{{abordagem.relato_apt3_ab}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!abordagem.relato_apt4_ab">
                  <div class="ui-g-4 pandora-atributo">Relato 4:</div>
                  <div class="ui-g-8">{{abordagem.relato_apt4_ab}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!abordagem.relato_apt5_ab">
                  <div class="ui-g-4 pandora-atributo">Relato 5:</div>
                  <div class="ui-g-8">{{abordagem.relato_apt5_ab}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!abordagem.relato_apt6_ab">
                  <div class="ui-g-4 pandora-atributo">Relato 6:</div>
                  <div class="ui-g-8">{{abordagem.relato_apt6_ab}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!abordagem.relato_obs_ab">
                  <div class="ui-g-4 pandora-atributo">Observição:</div>
                  <div class="ui-g-8">{{abordagem.relato_obs_ab}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!abordagem.relato_data_ab">
                  <div class="ui-g-4 pandora-atributo">Data do Relato:</div>
                  <div class="ui-g-8">{{utils.formataData(abordagem.relato_data_ab)}}</div>
                </div>
              </div>
            </div>
            </ng-template>
          </p-dataView>

          <div class="ui-g-12"></div>

          <p-dataView #ocorrencia [value]="saspOcorrencia" [paginator]="true" [rows]="1" [rowsPerPageOptions]="[1, 5, 10]"
            emptyMessage="{{msgRegistroNaoEncontrado}}" *ngIf="!!saspOcorrencia">
            <p-footer>{{utils.getFooterResultado(ocorrencia.totalRecords)}}</p-footer>

            <p-header>
              <p-header>
                <div class="p-card-subtitulo my-2 text-left d-flex">
                  <div class="text-center">
                    Ocorrencias
                  </div>
                </div>
              </p-header>
            </p-header>

            <ng-template let-ocorrencia pTemplate="listItem">
              <div class="ui-g-12">
              <!-- Informações de pessoa -->
              <div class="ui-g-12 ui-sm-12">
                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!ocorrencia.descricao_material_oco">
                  <div class="ui-g-4 pandora-atributo">Descrição:</div>
                  <div class="ui-g-8">{{ocorrencia.descricao_material_oco}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!ocorrencia.endereco_oco">
                  <div class="ui-g-4 pandora-atributo">Endereço:</div>
                  <div class="ui-g-8">{{ocorrencia.endereco_oco}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!ocorrencia.municipio_oco">
                  <div class="ui-g-4 pandora-atributo">Municipio:</div>
                  <div class="ui-g-8">{{ocorrencia.municipio_oco}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!ocorrencia.uf_oco">
                  <div class="ui-g-4 pandora-atributo">UF:</div>
                  <div class="ui-g-8">{{ocorrencia.uf_oco}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!ocorrencia.ocorrencia_algemas">
                  <div class="ui-g-4 pandora-atributo">Algemas:</div>
                  <div class="ui-g-8">{{ocorrencia.ocorrencia_algemas}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!ocorrencia.ocorrencia_coercitiva">
                  <div class="ui-g-4 pandora-atributo">Coercitiva:</div>
                  <div class="ui-g-8">{{ocorrencia.ocorrencia_coercitiva}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!ocorrencia.ocorrencia_envolvimento">
                  <div class="ui-g-4 pandora-atributo">Envolvimento:</div>
                  <div class="ui-g-8">{{ocorrencia.ocorrencia_envolvimento}}</div>
                </div>

                <div class="ui-g-12 py-0 pandora-linha-dataview" *ngIf="!!ocorrencia.tipo_material_oco">
                  <div class="ui-g-4 pandora-atributo">Tipo Material:</div>
                  <div class="ui-g-8">{{ocorrencia.tipo_material_oco}}</div>
                </div>

              </div>
            </div>
            </ng-template>
          </p-dataView>
        </p-tabPanel>

        <p-tabPanel styleClass="p-0" header="ORCRIM" [closable]="true" *ngIf="orcrimsEncontrados">
          <pandora-table caption="Resultados Encontrados" exportFilename="orcrim" [mostraFiltroColunas]="true"
            [value]="orcrimsEncontrados" [dicionarioDados]="dicionarioOrcrim">

            <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                <td *ngFor="let col of columns" [ngSwitch]="col.field">
                  <span class="ui-column-title">{{col.header}}</span>

                  <span *ngSwitchCase="'cpf'">
                    <a [routerLink]="['/dashboard/pesquisa/integrado/pessoa']"
                      [queryParams]='{cpf: utils.codificaDado(rowData.cpf)}'
                      style="color: #3984b8;">{{utils.formataDado(rowData.cpf, '###.###.###-##')}}</a>
                  </span>

                  <span *ngSwitchCase="'rg'">
                    <a [routerLink]="['/dashboard/pesquisa/integrado/pessoa']"
                      [queryParams]='{rg: utils.codificaDado(rowData.rg), cpf: utils.codificaDado(rowData.cpf)}'
                      style="color: #3984b8;">{{rowData.rg}}</a>
                  </span>

                  <span *ngSwitchCase="'nome'">
                    <a [routerLink]="['/dashboard/pesquisa/integrado/pessoa']"
                      [queryParams]='{nome: utils.codificaDado(rowData.nome), rg: utils.codificaDado(rowData.rg), cpf: utils.codificaDado(rowData.cpf)}'
                      style="color: #3984b8;">{{rowData.nome}}</a>
                  </span>

                  <span *ngSwitchCase="'dataNascimento'">{{utils.formataData(rowData.dataNascimento)}}</span>
                  <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                  <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                </td>
              </tr>
            </ng-template>

          </pandora-table>
        </p-tabPanel>

      </p-tabView>
    </div>
  </div>




</div>
