<div class="ui-g">

    <app-campos-busca
        titulo="Endereço"
        [nProcesso]="nProcesso"
        [campos]="campos"
        style="width: 100%; width: -webkit-fill-available; width: -moz-available;"
        [(buscaFinalizada)]="buscaFinalizada"
        (pesquisa)="onPesquisa($event)">
    </app-campos-busca>


  <div class="ui-g-12" *ngIf='buscaFinalizada'>
    <div class="p-card p-0 b-0">

      <pandora-table
        caption="Resultados"
        exportFilename="enderecos"
        [mostraFiltroColunas]="true"
        [value]="enderecosEncontrados"
        [dicionarioDados]="dicionarioDados">

        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns" [ngSwitch]="col.field">
              <span class="ui-column-title">{{col.header}}</span>

              <span *ngSwitchCase="'cpf_cnpj'">
                  <a *ngIf="rowData.cpf_cnpj.length === 11" [routerLink]="['/dashboard/pesquisa/integrado/pessoa']" [queryParams]='{cpf: utils.codificaDado(rowData.cpf_cnpj)}' style="color: #3984b8;">{{utils.formataDado(rowData.cpf_cnpj, '###.###.###-##')}}</a>
                  <a *ngIf="rowData.cpf_cnpj.length === 14" [routerLink]="['/dashboard/pesquisa/integrado/empresa']" [queryParams]='{cnpj: utils.codificaDado(rowData.cpf_cnpj)}' style="color: #3984b8;">{{utils.formataDado(rowData.cpf_cnpj, '##.###.###/####-##')}}</a>
              </span>
              <span *ngSwitchDefault>{{rowData[col.field]}}</span>
            </td>
          </tr>
        </ng-template>

      </pandora-table>
    </div>
  </div>
</div>
