<div class="ui-g">

  <div class="ui-g-12">
    <div class="p-card">
      <span class="p-card-titulo">Ariel</span>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="p-card p-0 b-0">
      <p-panel header="Informações" [toggleable]="true">
        <ul class="text-justify">
          <li class="pb-1">O Ariel é um sistema de reconhecimento facial para identificação de pessoas físicas.</li>
          <li class="pb-1">O uso do sistema pode ser feito através de imagens existentes ou de foto capturada pela câmera do usuário.</li>
        </ul>
      </p-panel>
    </div>
  </div>

  <div class="ui-g-12"  [style.display]="!!fotoCapturada ? 'none': ''"  *ngIf="!buscaFinalizada">
    <div class="p-card">
      <div class="ui-g">

        <div class="ui-g-3 ui-sm-12"></div>
        <div class="ui-g-6 ui-sm-12">

          <div class="ui-g-12 container" *ngIf="cameraDisponivel">

            <video #video id="video" width="100%" autoplay></video>

            <div class="player-buttons" *ngIf="exibeTrocaCamera">
              <!-- <span class="pi pi-refresh botao-switch"></span> -->
              <button pButton title="Troca Câmera" (click)="trocaCamera()" type="button" icon="pi pi-refresh"></button>
            </div>
          </div>

          <div class="ui-g-12 text-center" *ngIf="!cameraDisponivel">
            <h1>Câmera não disponível</h1>
          </div>

          <div class="ui-g-12">
            <h3 class="first">Limiar: {{limiarDistancia/100}}</h3>
            <p-slider [(ngModel)]="limiarDistancia" [min]="0" [max]="100"></p-slider>
          </div>

          <div class="ui-g-12 ui-fluid">
            <div class="ui-g-6 ui-sm-12">
              <button pButton (click)="file.click()" *ngIf="!fotoCapturada"  type="button" icon="pi pi-image" label="Selecionar Foto"></button>
              <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                <input #file type="file" accept="image/*" (change)=selecionaFoto(file.files)/>
                <!-- <input #file type="file" accept="image/*" name="foto" ng2FileSelect [uploader]="uploader" (onFileSelected)=fotoSelecionada($event)/> -->
              </span>
            </div>

            <div class="ui-g-6 ui-sm-12">
              <button pButton (click)="tiraFoto()" *ngIf="!fotoCapturada"  type="button" icon="pi pi-camera" label="Tirar Foto"></button>
            </div>
          </div>

        </div>
        <div class="ui-g-3 ui-sm-12"></div>

      </div>
    </div>
  </div>

  <div class="ui-g-12" [style.display]="!fotoCapturada ? 'none': ''" *ngIf="!buscaFinalizada">
    <div class="p-card">
      <div class="ui-g">

        <div class="ui-g-3 ui-sm-12"></div>
        <div class="ui-g-6 ui-sm-12">

          <div class="ui-g-12">
            <canvas #snapshot id="snapshot"></canvas>
          </div>

          <div class="ui-g-12 ui-fluid">
            <div class="ui-g-6 ui-sm-12">
              <button pButton (click)="enviaFoto()" *ngIf="!!fotoCapturada" type="button" icon="fa fa-paper-plane" label="Enviar"></button>
            </div>
            <div class="ui-g-6 ui-sm-12">
              <button pButton (click)="cancelaFoto()" *ngIf="!!fotoCapturada" type="button" icon="fa fa-times" label="Cancela"></button>
            </div>
          </div>

        </div>
        <div class="ui-g-3 ui-sm-12"></div>

      </div>
    </div>
  </div>

  <div class="ui-g-12" *ngFor="let pessoaEncontrada of pessoasEncontradas">
    <div class="card card-w-title mb-0">
      <div>
        <h3>Identificado</h3>
        <img src="data:image/jpeg;base64,{{pessoaEncontrada.face_identificada}}" style="width: 70%; min-width:80px; max-width: 100px;">
      </div>
      <div>
        <p-carousel
          numVisible="1"
          responsive="true"
          headerText="Semelhantes"
          [value]="pessoaEncontrada.semelhantes">
            <ng-template let-semelhante pTemplate="item">
              <div class="ui-g">
                <div class="ui-g-4">
                  <img src="data:image/jpeg;base64,{{semelhante.foto}}" style="width: 70%; min-width:80px; max-width: 100px;">
                </div>
                <div class="ui-g-8 ui-g-nopad">
                  <div class="ui-g-12">
                    <div class="ui-g-4">Nome</div>
                    <div class="ui-g-8">{{semelhante.nome}}</div>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-g-4">CPF</div>
                    <div class="ui-g-8">
                      <a [routerLink]="['/dashboard/pesquisa/integrado/pessoa']" [queryParams]='{cpf: utils.codificaDado(semelhante.cpf)}' style="color: #3984b8;">{{utils.formataDado(semelhante.cpf, '###.###.###-##')}}</a>
                    </div>
                  </div>
                  <div class="ui-g-12">
                    <div class="ui-g-4">Score</div>
                    <div class="ui-g-8">{{semelhante.score}}</div>
                  </div>
                </div>
              </div>
            </ng-template>
        </p-carousel>
      </div>

    <!-- <div *ngFor="let semelhante of pessoaEncontrada.semelhantes">
        <div>
          <img src="data:image/jpeg;base64,{{semelhante.foto}}" style="width: 70%; min-width:80px">
        </div>
        <div>
          {{semelhante.cpf}} - {{semelhante.nome}}: {{semelhante.score}}
        </div>
    </div>         -->
    </div>
  </div>

  <div class="ui-g-12"
    *ngIf="buscaFinalizada && resultadoNaoEncontrado">
    <div class="card card-w-title mb-0">
        <div class="ui-g">
            <h1 style="font-size: 5em; text-align: center;">
                404
            </h1>

            <div class="ui-g-12" style="font-size: 1.3em; text-align: justify;">
                <span>Desculpe-nos, no momento não foi possível identificar a pessoa.</span>
            </div>
        </div>
    </div>
  </div>

  <div class="ui-g-12" *ngIf="buscaFalha">
    <app-mensagem-erro></app-mensagem-erro>
  </div>


</div>
