  <!-- Descrição da Organização Criminosa -->
  <div class="ui-g-12">
    <descricao-orcrim-component
        [dados]="dados">
    </descricao-orcrim-component>
  </div>

  <!-- Membros da Organização Criminosa -->
  <div class="ui-g-12">
    <membros-orcrim-component
      [dados]="dados">
    </membros-orcrim-component>
  </div>

  <!-- Membros da Organização Criminosa por Unidade Prisional -->
  <div class="ui-g-12">
    <membros-por-unidade-prisional-component
      [dados]="dados">
    </membros-por-unidade-prisional-component>
  </div>

  <!-- Advogados dos Membros da Organização Criminosa -->
  <div class="ui-g-12">
    <advogados-membros-orcrim-component
      [dados]="dados">
    </advogados-membros-orcrim-component>
  </div>

  <div class="ui-g-12">
    <div class="p-card mb-0 iguala-alturas ui-corner-all">
      <div class="p-card-subtitulo text-center">VISITAS E ATENDIMENTOS</div>
    </div>
  </div>

  <div class="ui-g-12">
    <visitantes-familiares-orcrim-component
      [dados]="dados">
    </visitantes-familiares-orcrim-component>
  </div>

  <div class="ui-g-12">
    <visitantes-advogados-orcrim-component
      [dados]="dados">
    </visitantes-advogados-orcrim-component>
  </div>
