.expander {
    width: 38px;
    text-align: center;
}
.linha-escura {
  background-color: #f4f4f4;
}
.atributo {
  font-weight: bold;
}
.caixa {
  border: 1px solid #e0e0e0;
}
.titulo {
  text-align: center;
  font-weight: 800;
  font-size: 20px;
}
.subtitulo {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}